.conteudo {
	-fx-background-color: #000;
	-fx-font-family: Oswald;
}

.titulo {
	-fx-text-fill: #48b2ee;
	-fx-font-size: 36px;
}

.numero {
	-fx-text-fill: #eee;
	-fx-font-size: 28px;	
}

.botoes {
	-fx-background-color: #fff;
	-fx-text-fill: #48b2ee;
	-fx-font-size: 28px;
	-fx-min-width: 60px;
	-fx-min-height: 60px;
	-fx-background-radius: 30px;
}

.verde {
	-fx-text-fill: #4bdb82;
}

.vermelho {
	-fx-text-fill: #ee4139;
}