.login {
	-fx-background-color: linear-gradient(to right, rgb(20, 136, 204), rgb(43, 50, 178));
}

.login-titulo {
	-fx-font-size: 24px;
	-fx-text-fill: #FFF;
}

.login-form-label {
	-fx-font-size: 16px;
	-fx-text-fill: #FFF;
}

.login-form-botao {
	-fx-font-size: 16px;
}